.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}

.app.dark {
  background-color: #202124;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}
